@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$background-colour: #181818;
$secondary-background-colour: #202020;

@keyframes fade-slide-in-from-top {
  from {
    transform: translateY(-25px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0);
  }
}

@mixin flexandCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background-color: $background-colour;
}

* {
  color: white;
  transition: all 0.3s;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.header {
  position: fixed;
  height: 40px;
  width: 100vw;
  margin: 0;
  font-size: 1.25rem;
  background-color: $background-colour;
}

.header-nav {
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
  margin: 0;
}

.header-nav-link {
  @include flexandCenter;
  padding: 5px 10px;
  margin: 0;
  height: auto;
  user-select: none;
}

.nav-right {
  margin: 0 10px;
}

.header-nav-link:hover {
  background: #424242;
  cursor: pointer;
}

.nav-home {
  margin: 0 auto 0 0;
}

.background-image {
  position: fixed;
  z-index: -2;
  height: 100vh;
  min-width: 100%;
}

.top {
  @include flexandCenter;
  flex-direction: column;
  width: auto;
  height: 500px;
  padding-top: 10vh;
}

.top-section {
  background-color: $background-colour;
  padding: 20px;
  margin: 10px auto;
  height: fit-content;
  max-width: 400px;
  animation: fade-slide-in-from-top 1s;
}

.top-fullname {
  margin: 0;
}

.skills-list {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px 30px;
}

.skills-list-child {
  padding: 0 10px;
  border: 1px solid white;
  user-select: none;

  &:hover {
    background-color: #cccccc;
    color: black;
  }
}

.projects-section {
  background-color: $background-colour;
  width: 100vw;
  padding: 15vh 0;
  animation: slide-in-from-bottom 1s;
}

.section-title {
  text-align: center;
  width: 100%;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  margin: 50px;
}

.projects-container-child {
  @include flexandCenter;
  flex-direction: column;

  flex-grow: 1;
  padding: 10px;
  flex-basis: 28%;
  width: auto;

  &:hover {
    background-color: #141414;
    cursor: pointer;
  }

  > * {
    width: 100%;
    text-align: center;
  }
}

.projects-image-placeholder {
  margin: 0 auto 20px auto;
  height: 200px;
  width: 200px;
  border: 1px solid white;
}

.projects-individual-skills {
  @include flexandCenter;
  flex-flow: row wrap;
  gap: 10px;
  max-width: 300px;
  padding: 20px;
}

.projects-individual-skills-child {
  width: auto;
}

footer {
  @include flexandCenter;
  text-align: center;
  background-color: rgb(15, 15, 15);
  height: 100px;
}

.footer-link {
  font-weight: bold;
  margin: 10px;
}

.about-section {
  background-color: $secondary-background-colour;
  margin: 0;
  padding: 20px 20px 50px 20px;
  text-align: center;

  > p {
    max-width: 500px;
    margin: 0 auto 50px auto;
  }
}

.contact-section {
  background-color: $background-colour;
  padding: 15vh 20px;
  height: 40vh;
  text-align: center;
}

@media (max-width: 500px) {
  .nav-right {
    opacity: 0;
    pointer-events: none;
  }
}
