footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0f0f0f;
    height: 100px;
  }
  
  .footer-link {
    font-weight: bold;
    margin: 10px;
  }
  